body {
    font: 14px "Century Gothic", Futura, sans-serif;
  }
  
  :root{
    --gameBoardBackgroundColor: #ffffff;
    --gameBoardColor: #ffffff;
    --buttonColor: #ffffff;
  }

  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin:20px;
    border-radius: 30px;
    border: 2px solid #aaa;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: var(--buttonColor);
    font-size: 50px;
  }
  
  .square {
    border: 2px solid #aaa;
    background: var(--gameBoardColor);
    color:rgb(255, 0, 0);
    float: left;
    font-size: 180px;
    font-weight: bold;
    line-height: 180px;
    height: 180px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 180px;
  }
  .square:hover{
    opacity: 0.8;
  }
  .resetButtonRow{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;

    height:100px;
  }

  .resetButton{
    background-color: var(--buttonColor);
    color: black;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    cursor: pointer;
  }

  .resetButton:hover {
    opacity: 0.8;
}
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width:800px;
    min-height: 800px;
  }
  
  .game-info {
    margin-left: 20px;
  }
  .game-board{
    display:flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: var(--gameBoardBackgroundColor);
  }
  .themeSelector{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 10px;
    height:50x;
  }
  .formControl{
    display:flex;
    justify-content: right;
  }
  .innerBoard{
    margin:0 20px 0 20px;
  }